{% extends './base.html' %}

{% block title %}Login{% endblock %}

{% block customCSS%}
<link rel="stylesheet" href="{{ url_for('static', filename='css/login.css')}}"
{% endblock %}

{% block body %}
<main class="form-signin">
    <form action="/login" method="POST">
        <img class="mb-4" src="{{ url_for('static', filename='img/crossdev.png')}}" alt="" width="100" height="60">
        {% with messages = get_flashed_messages() %}
        {%if messages %}
        <br>
        {% for message in messages %}
        <div class="alert alert-primary alert-dismissible" role="alert">
            <h6>{{message}}</h6>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        {% endfor %}
        {% endif %}
        {% endwith %}
        <h1 class="h3 mb-3 fw-normal">Please sign in</h1>
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
        <div class="form-floating">
            <input type="email" class="form-control" id="email" name="email" placeholder="name@example.com">
            <label for="floatingInput">Email address</label>
        </div>
        <div class="form-floating">
            <input type="password" class="form-control" id="password" name="password" placeholder="Password">
            <label for="floatingPassword">Password</label>
        </div>

        <div class="checkbox mb-3">
            <label>
                <input type="checkbox" value="remember-me"> Remember me
            </label>
        </div>
        <button class="w-100 btn btn-lg btn-primary" type="submit">Sign in</button>
        <p class="mt-5 mb-3 text-muted">&copy; 2022-2023</p>
    </form>
</main>
{% endblock %}